.imgheight {
	width: 40%;
	height: 40%;
}
.bckg {
	background-image: url("/images/images/background1.jpg");
}
movie-nav .list-inline > li {
	padding: 10px 15px;
}

 body {
 	font-family: "Montserrat";  /* just a cutsom font */
 }

 a:-webkit-any-link{		
text-decoration:none !important;	/* do not underline links */
color: black; !important;	        /* give links a default color */
 }
 .wrapper {
  	margin: 10em;					/* just a temp margin */
  	border: 0.1em solid #ccc;	/* wrap the calendar inside a box */
  	width: 20em;				/* define a width for the box */
  	height: 24em;				/* define a height for the box */
  	box-shadow: 0.1em 0.2em 0.8em #ccc;	/* box shadow for better view */

  }

  .header {
  	height: 4em;					/* define a height for the header */
  	background-color: #3f51b5;		/* give the header a background color */
  	color: white;					/* give the header a text color */
  	text-align: center;				/* center the text inside the header */
  }

.calendar-body .col-xs-1 {
  	width: 2.5em;					/* give each column a fixed width */
  	margin-left: 0.2em;				/* have some space between columnd */
  	text-align: center;				/* align text in the center */
  }
.header p {
	padding-top: 1.2em;				/* vertical centering */
	text-transform: uppercase;		/* all caps text  */
  }

.header span {
  	padding: 1.3em;			/* vertical and horizontal centering icons */
}

.inactive {					/* inactive dates get a light gray text color */
	color: #ccc;
}

.weekdays {	
	padding: 1em;			/* giving weekdays some space around */
}

.dates {
	padding: 0.2em 1em 0.2em 1em;	/* giving dates some space  */
}

.line {								/* a gray line separator  */
	height: 0.1em;
	border: 0.1em solid #EEEEEE;
}

.current-date {					/* styling the current date section  */
	text-transform: uppercase;
	text-align: center;
	padding: 0.7em;
}

.calendar-body .row .col-xs-1 p:hover {
	color: #4778a6;			/* hover state on all dates  */
} 

movie-nav .list-inline > li a {
	font-size: large;
}

movie-nav .list-inline > li > a:hover {
	background-color: lightgrey;
	text-decoration: none;
}

movie-nav .list-inline > li > a:active {
	background-color: #337AB7;
	color: white;
}

.map-container {
	position: relative;
}

.zoom-controls {
	position: absolute;
	top: 1em;
	left: 0.6em;
}

.zoom-button {
	padding: 4px 8px;
	opacity: 0.8;
}

select {
	padding: 0.5em;
	border-radius: 5px;
	font-size: 1.4em;
}

.btn-link {
	border: 3px solid grey;
	padding: 5px;
	margin: 60px;
	font-size: large;
	text-decoration: none;
	color: grey;
}

div.home-page {
	background: transparent;
	font-size: large;
	text-align: center;
}

div.home-page h1 {
	background: transparent;
	font-size: 300%;
}

.error-container {
	text-align:  center;
}

div.repeat:nth-child(6n+1) {
	clear:both;
}

/* Portrait tablets and small desktops  col-sm*/
@media (min-width: 768px) and (max-width: 991px) {
   div.repeat:nth-child(3n+1){ clear: both}
}

/* Landscape phones and portrait tablets  col-xs*/
@media (max-width: 767px) {
  div.repeat:nth-child(2n+1){ clear: both}
  
}

/* Portrait phones and smaller  col-xs*/
@media (max-width: 480px) {
  div.repeat:nth-child(2n+1) { clear: both}
   
}